.App {
  text-align: center;
}

button {
    cursor: pointer;
}

#nav-logo {
    display: flex;
    flex-direction: column;
}

.fractal-display {
  height: 900px;
  width: 1200px;
}

.init-style {
  height: 60vh;
  width: 80vh;
}

#intro-wrapper {
    display: flex;
    align-content: center;
}

.intro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 4px solid #ffc107;
    border-radius: 8px;
    height: 60vh;
    max-width: 15%;
    font-size: 1.5rem;
    font-family: serif;
}

.intro-info div {
    margin: 25px auto;
}
.intro-info div p {
    margin: 0 auto;
}


#intro-info-right {
    font-family: math;
}

#mandelbrot-wrapper {

    display: grid;
    grid-row-gap: 20px;
    max-width: 94%;
    margin: 20px auto;

}

#fractal-wrapper {
    grid-row-start: 2;
    grid-column-start: 1;
    margin: auto;
}

#zooms-panel-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
}

#zooms-panel {
    border: 3px solid #ffc107;
    border-radius: 6px;
    padding: 10px 25px 0px 10px;
}

.zoom-wrapper {

    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 13% 60% 27%;
    grid-column-gap: 3px;

}
.zoom-index {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.5rem;
    font-weight: 700;
}
.zoom-card {

    border: 2px solid #0d6efd;
    border-radius: 6px;
    background-color: #ffc107;
    margin: auto;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 3px 10px;
    color: #0d6efd;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 5px;
  background-color: #282c34;
  color: white;
}

#navbar {
    min-height: 5vh;
    display: grid;
    grid-template-columns:  8% 12% repeat(8, 10%);
    background-color: #00E6E6FF;
    font-family: monospace;
    font-size: 1.5rem;
    color: #282c34;
}

#navbar a {
    margin: auto;
}

#navbar button {
    margin: 10px 35px;
}

#navbar #app-title {
    grid-column-start: 5;
    grid-column-end: 7;
    margin: auto;
    font-size: 4rem;
    font-family: monospace;
    display: flex;
}

#navbar .first-nav-btn {
    grid-column-start: 9;
}

.generator-display {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-top: 20px;
}

.tagline {
    font-family: serif;
    font-size: 2rem;
    margin: 50px 0;
}

#control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin: 30px auto;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width : 900px) {

    .not-mobile {
        display: none;
    }

    .init-style {
      height: 60vh;
      width: 80vh;
    }

    #navbar {
        min-height: 5vh;
        display: grid;
        grid-template-columns:  8% 12% repeat(8, 10%);
        background-color: #00E6E6FF;
        font-family: monospace;
        font-size: 1rem;
        color: #282c34;
    }

    #nav-logo {
    }

    #navbar #app-title {
        grid-column-start: 5;
        grid-column-end: 7;
        font-size: 1.5rem;
        font-family: monospace;
        display: flex;
    }

    .App-header {
      padding-top: 3px;
    }

    .intro-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        border: 1px solid #ffc107;
        border-radius: 8px;
        height: 60vh;
        max-width: 20%;
        font-size: 0.8rem;
        font-family: serif;
    }
}

@media screen and (max-width : 400px) {

    .not-mobile, .ls-only {
        display: none;
    }

    .init-style {
      height: 285px;
      width: 380px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        background-color: #00E6E6FF;
        font-family: monospace;
        font-size: 1rem;
        color: #282c34;
    }
}
